<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="allFile" fileName="${basedir}/Logs/All/log-all-${shortdate}.log"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile" fileName="${basedir}/Logs/Own/log-own-${shortdate}.log"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="allFile" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Debug" writeTo="ownFile" />
	</rules>
</nlog>